/* .container {
	display: flex;
	flex-direction: column;
}

.imgContainer {
	display: flex;
}

.title h1 {
	height: 56px;
	font-style: normal;

	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
}

.img1 {
	width: 399px;
	height: 598px;
}

.img2 {
	width: 752px;
	height: 502px;
}

.img3 {
	width: 1035px;
	height: 691px;
} */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title1 h1 {
	height: 56px;
	font-style: normal;

	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
}

.imgContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;

	padding-top: 48px;
}

.img1 h2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 16px;

	/* width: 399px;
	height: 46px; */
}

.img1 {
	width: 399px;
	height: 598px;
	object-fit: cover;
}

.img2 {
	width: 600px;
	height: 500px;
	object-fit: cover;
}

.img3 {
	width: 1024px;
	height: 657px;
	object-fit: cover;
}

@media (max-width: 430px) {
	.imgContainer {
		flex-direction: column;
		align-items: center;
	}

	.title1 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 283px;
	}
	.title1 h1 {
		height: 78px;
		font-style: normal;

		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
	}
}
